<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="vendor/fontawesome.css" />
    <link rel="stylesheet" href="vendor/swiper.css" />
    <link rel="stylesheet" href="DisneySharp.styles.css" />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="vendor/swiper.js"></script>
</body>
</html>
