@inherits LayoutComponentBase

<PageTitle>Disney#</PageTitle>
<PageStyles />

<header class="main-header">
    <div class="container">
        <div class="logo"><a href="/">Disney#</a></div>
        <nav>
            <ul>
                <MfComponent Name="nav-items" />
            </ul>
        </nav>
    </div>
</header>
@Body
<footer class="main-footer">
    <div class="container">
        <div class="logo"><span>Disney#</span></div>
        <div class="social-links">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>


<PageScripts />
